################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication2
/obj/x64/Debug/net7.0
/WebApplication2.csproj
/WebApplication2.sln
